body {
    background-color:blanchedalmond;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

fieldset {
    margin:25px;
}

form {
    padding: 10px;
}

h1 {
    text-align: center;
}

h3, a {
    margin-left: 25px
}

h3 {
    padding-top: 20px;
}

legend {
    font-weight: bold;
}